body.about {
    h1 {
        margin-bottom: 10%;
    }

    section.hero {
        position: relative;
        height: 100vh;
        background: linear-gradient(90deg, #348ea1, #7abd92);
        font-size: 1rem;
        color: #fff;

        .content {
            left: 50%;
            top: 50%;
            padding: 4%;
            transform: translate(-50%, -50%);
            text-align: center;
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
        }

        .center-content {
            & > div {
                width: 100%;
            }
            .bp-team {
                .member {
                    padding: 1%;

                    &:hover {
                        cursor: pointer;
                    }

                    img {
                        border-radius: 50%;
                        transition: 0.5s ease-in-out;
                    }

                    h2 {
                        margin-top: 25px;
                    }

                    p {
                        opacity: 0;
                        transition: 0.5s ease-in-out;
                    }
                }

                .member.active {
                    img {
                        transform: scale(1.2) translateY(-22px);
                        box-shadow: 5px 5px 12px 2px rgba(0, 0, 0, 0.4);
                    }

                    p {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
