/* ------- */

@keyframes bounceButton {
    from {
        transform: translateY(-50%) translateX(-10px);
    }

    to {
        transform: translateY(-50%) translateX(0);
    }
}

@-webkit-keyframes bounceButton {
    from {
        transform: translateY(-50%) translateX(-10px);
    }

    to {
        transform: translateY(-50%) translateX(0);
    }
}

@-moz-keyframes bounceButton {
    from {
        transform: translateY(-50%) translateX(-10px);
    }

    to {
        transform: translateY(-50%) translateX(0);
    }
}

/* ------- */
