header.site-header {
    position: absolute;
    width: 100%;
    padding: 1%;
    background-color: transparent;
    z-index: 1;

    @media @mobile {
        padding: 2%;
    }

    nav.primary-nav {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0);
        background-color: transparent;
        width: 3000px;
        height: 3000px;
        border-radius: 100%;
        transition: 0.5s linear;
        z-index: 9998;

        ul {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            margin-left: 0;
            background-color: #39314b;
            padding: 34%;
            border-radius: 100%;

            li {
                list-style-type: none;
            }

            a {
                color: #fff;
                font-size: 3rem;

                &:hover {
                    color: #e36d5b;
                }
            }
        }
    }

    h2 {
        text-transform: none;
        color: #fff;
    }

    .delicious-hamburger {
        position: absolute;
        right: 55px;
        border: none;
        top: 13px;
        width: 40px;
        height: 40px;
        background-color: transparent;
        z-index: 9999;

        @media @mobile {
            right: 35px;
        }
    }

    .delicious-hamburger:hover {
        cursor: pointer;
    }

    .delicious-hamburger:focus {
        outline: none !important;
    }

    /* Closed */
    .hamburger-wrap {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 30px;
        height: 30px;
        border: none !important;
        outline: none !important;
    }

    .beef-pattie {
        position: absolute;
        height: 4px;
        width: 35px;
        background-color: #fff;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: 0.25s ease-in-out;
        border-radius: 3px;
    }

    .beef-pattie:before,
    .beef-pattie:after {
        content: '';
        display: block;
        position: absolute;
        height: 4px;
        width: 35px;
        background-color: #fff;
        left: 0;
        transition: 0.25s ease-in-out;
        transform: rotate(0deg);
        border-radius: 3px;
    }

    .beef-pattie:before {
        top: -9px;
        transition: 0.25s ease-in-out;
    }

    .beef-pattie:after {
        top: 9px;
    }
}

/* Open */

body.nav-open {
    header.site-header {
        nav.primary-nav {
            transform: translate(-50%, -50%) scale(1);
        }

        .delicious-hamburger {
            position: fixed;
            right: 24px;
        }

        .beef-pattie {
            background-color: transparent;
        }

        .beef-pattie:before {
            top: 0;
            transform: rotate(45deg);
        }

        .beef-pattie:after {
            top: 0;
            transform: rotate(-45deg);
        }
    }
}
