section.hero {
    position: relative;
    height: 100vh;
    background: url(../assets/images/app-use-reduced.png) 85% 100% no-repeat, linear-gradient(45deg, orange, #f3889b);
    font-size: 1rem;
    color: #fff;

    .content {
        position: absolute;
        left: 0;
        top: 50%;
        padding: 4%;
        transform: translate(0%, -50%);

        .center-content {
            .flex();

            h3 {
                margin-bottom: 30px;
                font-size: 2.2rem;
                font-family: 'Open Sans';
                letter-spacing: -1px;
            }
        }
    }

    a.start-button {
        position: absolute;
        left: 50%;
        bottom: 40px;
        transform: translateY(0) translateX(-50%);
        animation: startButton 0.75s ease-in-out infinite;
        animation-direction: alternate;

        &:after {
            content: '';
            display: block;
            height: 0;
            width: 0;
            border: 25px solid transparent;
            border-top: 30px solid #fff;
        }
    }
}
